:root{
    --orange: #F25D29;
    --bg: rgb(215, 224, 233);
    --black: rgb(77, 73, 73);
}

body {
    font-family: Ubuntu;
    background: var(--orange);
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 80%;
    padding: 25px 0;
}

header {
    background-color: white;
    border-bottom: 2px solid #F25D29;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header span {
    font-weight: bolder;
}

header label {
    font-size: 13px;
    margin-right: 10px;
}

header form {
    display: block;
}

header input {
    outline: none;
}

header button {
    background-color: #F25D29;
    border: none;
    color: white;
    padding: 5px;
    margin-left: 15px;
    border-radius: .5em;
}

.hero-bg {
    padding: 50px 0;
}

.hero-bg h1 {
    text-align: center;
}

.hero-bg span {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.course-info {
    background-color: #f25f2959;
    width: 400px;
    margin: auto;
    padding: 20px;
}

.upcoming-courses {
    background: white;
}

.upcoming-course {
    margin: 3em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3em;
}

.course {
    background: whitesmoke;
    width: 250px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border-top: 5px solid rgb(197, 195, 195);
    transition: .5s ease;
}

.course:hover {
    border-top: 5px solid #F25D29;
}

.course span {
    display: block;
    margin: 10px 0;
}

footer {
    padding: 20px 0;
    text-align: center;
}

footer span {
    color: #e7aa94;
}